extends layout

block content
    .reveal
        .slides
            include slides/introduction
            include slides/technology
            include slides/jenkins
            include slides/pipeline
            include slides/dev
            include slides/production
            include slides/end