section(style='text-align: left;')
    h1 THE END
    p
        | - 
        a(href='https://github.com/TMRSOFT/ci-slides', target="_blank") By TMRSOFT
        br
        span(style="font-size: 20px") PowerPoint is for noobs lol