section
    section
        h2 Technology used
    //- section(data-background='./img/wthcharisma.jpg', data-background-size='45%')
    section
        h2 Node.js
        img(src="./img/node.png", style="width: 30vw")
        span
            p.fragment Open-source, cross-platform JavaScript run-time environment that executes JavaScript code outside of a browser.
            p.fragment Our server side.
    section
        h2 NPM
        img(src="./img/npm.png", style="width: 30vw")
        span
            p.fragment Package manager for the JavaScript programming language.
            p.fragment Like the Nuget or Composer or the Maven of JavaScript.
    section
        h2 Express.js
        img(src="./img/express.png", style="width: 30vw; background-color: white")
        span.fragment
            p.fragment Or simply Express, is a web application framework for Node.js.
            p.fragment Helps us with the MVC stuff.
    section
        h2 Mocha
        img(src="./img/mocha.png", style="width: 25vw")
        span.fragment
            p.fragment Javascript testing framework for Node.js.
            p.fragment Helps us with the testing stuff.
    section
        h2 Istabul
        img(src="./img/istanbul.png", style="width: 20vw")
        span.fragment
            p.fragment Javascript node package for code coverage.
            p.fragment Helps us with reports of code coverage, works great with Mocha and Jenkins.
    section
        h2 MongoDB
        img(src="./img/mongodb.png", style="width: 30vw; background-color: white")
        span.fragment
            p.fragment Free and open-source cross-platform NoSQL database program.
            p.fragment Uses JSON-like documents, perfect for JavaScript!
    section
        h2 Mlab
        img(src="./img/mlab.png", style="width: 30vw")
        span.fragment
            p.fragment Fully managed cloud database service that hosts MongoDB databases.
            p.fragment Our database is in the cloud!
    section
        h2 CentOS
        img(src="./img/centos.png", style="width: 30vw")
        span.fragment
            p.fragment Linux distribution that provides a free, enterprise-class, community-supported computing platform.
            p.fragment Our empty PC to deploy our app using Jenkins
    section
        h2 CHEF
        img(src="./img/chef.png", style="width: 20vw; background-color: white")
        span.fragment
            p.fragment Configuration management tool for dealing with machine setup.
            p.fragment More like chefsito